<div class="row" >
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
        <tr qdoba-menu-heading class="table-heading"></tr>
      </thead>
      <tbody qdoba-ingredient-list *ngFor="let category of ingredientCategory | enumToKeys"
          class="table-item"
          [title]="ingredientCategory[ingredientCategory[category]]"
          [ingredients]="ingredients"
          [category]="ingredientCategory[ingredientCategory[category]]">
      </tbody>
    </table>
  </div>
</div>
