<th class="table-heading"></th>
<th class="rotate"><div><span>Serving Size (g)</span></div></th>
<th class="rotate"><div><span>Total Calories</span></div></th>
<th class="rotate"><div><span>Calories From Fat</span></div></th>
<th class="rotate"><div><span>Total Fat (g)</span></div></th>
<th class="rotate"><div><span>Saturate Fat (g)</span></div></th>
<th class="rotate"><div><span>Trans Fat (g)</span></div></th>
<th class="rotate"><div><span>Cholesterol (mg)</span></div></th>
<th class="rotate"><div><span>Sodium (mg)</span></div></th>
<th class="rotate"><div><span>Potassium (mg)</span></div></th>
<th class="rotate"><div><span>Total Carbohydrates (g)</span></div></th>
<th class="rotate"><div><span>Dietary Fiber (g)</span></div></th>
<th class="rotate"><div><span>Sugar (g)</span></div></th>
<th class="rotate"><div><span>Protein (g)</span></div></th>
<th class="rotate"><div><span>Add Item</span></div></th>
