<table *ngIf="ingredients" class="table table-striped">
  <tbody>
    <tr class="table-section">
      <td colspan="15">{{ title }}</td>
    </tr>
    <tr class="table-item" *ngFor="let ingredient of ingredients | filterByIngredientCategory: category">
      <td>
        {{ ingredient.description }}
        <span class="serving-size">({{ ingredient.servingSize }} {{ ingredient.servingMetric }})</span>
      </td>
      <td>{{ ingredient.nutritionalFacts.servingSize }}</td>
      <td>{{ ingredient.nutritionalFacts.caloriesPerServing }}</td>
      <td>{{ ingredient.nutritionalFacts.caloriesFromFat }}</td>
      <td>{{ ingredient.nutritionalFacts.totalFat }}</td>
      <td>{{ ingredient.nutritionalFacts.saturatedFat }}</td>
      <td>{{ ingredient.nutritionalFacts.transFat }}</td>
      <td>{{ ingredient.nutritionalFacts.cholesterol }}</td>
      <td>{{ ingredient.nutritionalFacts.sodium }}</td>
      <td>{{ ingredient.nutritionalFacts.potasium }}</td>
      <td>{{ ingredient.nutritionalFacts.totalCarbohydrate }}</td>
      <td>{{ ingredient.nutritionalFacts.dietaryFiber }}</td>
      <td>{{ ingredient.nutritionalFacts.sugar }}</td>
      <td>{{ ingredient.nutritionalFacts.protein }}</td>
      <td>
        <span type="button" class="btn btn-add" (click)="add(ingredient)">&#x2b;</span>
      </td>
    </tr>
  </tbody>
</table>

<!-- <tr>


<tr>
  <td>Potasium : {{nutrition.potasium}}</td>
</tr>
<tr>
  <td>Total Carbohydrate : {{nutrition.totalCarbohydrate}}</td>
</tr>
<tr>
  <td>Dietary Fiber : {{nutrition.dietaryFiber}}</td>
</tr>
<tr>
  <td>Sugar : {{nutrition.sugar}}</td>
</tr>
<tr>
  <td>Protein : {{nutrition.protein}}</td>
</tr> -->
